/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --IBM-Plex-Mono-font: "IBM Plex Mono", sans-serif;
  --padding-page: 10px;
  --galery-list-padding: 10px;

  /* темная тема */
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
}

.page {
  position: relative;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  padding: var(--padding-page);
  font-family: var(--IBM-Plex-Mono-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rec {
  position: absolute;
  top: var(--padding-page);
  right: 0;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}
.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: calc(var(--padding-page) + 10px);
  margin-left: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 20px;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 66px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  justify-self: start;
  align-self: start;
  /* Для планшета и десктопа */
  /* clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)  */
  margin-top: -20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  justify-self: start;
  align-self: start;
  margin-top: 55px;
  color: var(--bg-color);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

/* text-container styles [ */

.text-container {
  display: grid;
  grid-template-rows: auto auto auto;
  /* background-color: var(--bg-color); */
}

.text-container__item {
  margin-top: 49px;
}

.text-container__item:first-of-type {
  margin-top: 30px;
}

.title-decor {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.text-container__title {
  margin-top: 20px;
  color: var(--bg-color);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.text-container__title--special {
  font-weight: 400;
  font-style: Regular;
  letter-spacing: 0%;
  /* leading-trim: NONE; */
}

.text-container__text {
  margin-top: 10px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
}

.text-container__text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text-container__text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-container__text-link:focus {
  outline: 1px solid var(--text-color);
}

/* text-container styles ] */

/* galery styles [ */

.galery {
}

.text-container__title {
  margin-top: 20px;
  color: var(--bg-color);

  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.galery-title {
  color: var(--bg-color);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-color: var(--accent-color);
  margin-top: 50px;
}

.galery__list {
  padding-top: var(--galery-list-padding);
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: var(--galery-list-padding);
}

.galery__list-item {
  max-width: 100%;
}

/* galery styles ] */
