/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex Mono";
  --padding-page: 10px;
}

@media (min-width: 768px) {
  :root {
    --padding-page: 20px;
  }
}
